# Sidhdi Vijay Khairmode 22MIC0168

### Section 1: Reading the CSV file and showing first few rows.

### Reading the CSV File

In [3]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv("Food.csv")

# Display the first 5 rows
print("Preview of Food Dataset:")
df.head()

Preview of Food Dataset:

      Food    Rich_in  Calories  Carbs
0  Almonds    Protein       576     10
1  Spinach       Iron        23     20
2   Salmon    Omega-3       208     30
3   Banana  Potassium        89     40
4     Eggs    Protein       155     50

### Section 2: Exploring the Dataset

In [4]:
print("Columns in Dataset:", df.columns.tolist())
print("Shape of Dataset (Rows, Columns):", df.shape)
print("\nDescriptive Statistics:")
df.describe()

Columns in Dataset: ['Food', 'Rich_in', 'Calories', 'Carbs']
Shape of Dataset (Rows, Columns): (12, 4)

Descriptive Statistics:

         Calories       Carbs
count   12.000000   12.000000
mean   222.750000   65.000000
std    230.400097   36.055513
min     23.000000   10.000000
25%     61.500000   37.500000
50%    133.000000   65.000000
75%    292.500000   92.500000
max    654.000000  120.000000

### Section 3: Appending a New Row to the CSV

In [5]:
# Create a new food item as a DataFrame
new_food = pd.DataFrame({
    "Food": ["Broccoli"],
    "Rich_in": ["Fiber"],
    "Calories": [55],
    "Carbs": [11]
})

# Append the new row to the CSV
new_food.to_csv("Food.csv", mode="a", header=False, index=False)
print("New food item appended successfully!")

New food item appended successfully!

### Section 4: Reading the CSV File in Chunks

In [6]:
chunk_iter = pd.read_csv("Food.csv", chunksize=3)

for i, chunk in enumerate(chunk_iter):
    print(f"\n--- Chunk {i+1} ---")
    print(chunk)

--- Chunk 1 ---
      Food  Rich_in  Calories  Carbs
0  Almonds  Protein       576     10
1  Spinach     Iron        23     20
2   Salmon  Omega-3       208     30

--- Chunk 2 ---
      Food       Rich_in  Calories  Carbs
3   Banana     Potassium        89     40
4     Eggs       Protein       155     50
5  Avocado  Healthy Fats       160     60

--- Chunk 3 ---
         Food    Rich_in  Calories  Carbs
6  Brown Rice      Fiber       111     70
7     Carrots  Vitamin A        41     80
8        Milk    Calcium        42     90

--- Chunk 4 ---
              Food       Rich_in  Calories  Carbs
9   Dark Chocolate  Antioxidants       546    100
10            Oats         Fiber        68    110
11         Walnuts       Omega-3       654    120

--- Chunk 5 ---
        Food Rich_in  Calories  Carbs
12  Broccoli   Fiber        55     11

### Section 5: Writing Numeric Columns into a CSV

In [7]:
numeric_data = df[["Calories", "Carbs"]]
numeric_data.to_csv("Food_numeric.csv", index=False)
print("Numeric data saved to Food_numeric.csv")

Numeric data saved to Food_numeric.csv

### Section 6: Writing Text Columns into a CSV

In [8]:
text_data = df[["Food", "Rich_in"]]
text_data.to_csv("Food_text.csv", index=False)
print("Text data saved to Food_text.csv")

Text data saved to Food_text.csv